// MEDIA SCREEN MAX  768PX


@media screen and (min-width: 665px) {
     

    .parcours {

        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-start;
    
        }

        &__box {
            position: relative;
            padding-left: 2.5rem;
            border-left: 1px solid $textColor;

            &::after {
                content: '';
                position: absolute;
                top: 1.3rem;
                left: -1rem;
                height: 2rem;
                width: 2rem;
                background-color: $textColor;
                border-radius: 5rem;
            }
        }

    }

    .projet {

        &__controls {
            text-align: center;
        }

        &__buttons {
            display: inline-block;
            width: 7rem;
        }

        &__filter-content {
            width: 250px;
        }

        &__container {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    
   
}


// MEDIA SCREEN MIN  768PX  XXX TABLETTE XXX
@media screen and (min-width: 768px) {
   
    
    body {
        margin: 0;
    }

    .section {
        padding-top: 7rem;
    }

    .nav {
        height: 4rem;

        &__list {
            display: flex;
            align-items: center;
        }

        &__li {
            margin-left: 2rem;
            margin-bottom: 0;
        }

        &__toggle {
            display: none;
        }

    }

    

   
}

// DESKTOP

@media screen and (min-width: 968px) {
  
   
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .projet {
        &__container {
            grid-template-columns: repeat(3, 1fr);

        }
    }

    
    


}



