// MOBILE FIRST
@import 'reset.scss';
@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@font-face {
    font-family: myfonts;
    src: local(fontsiphone),
    url(fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: myiphone;
    src: local(fontsiphone2),
    url(fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}

html {
    box-sizing: border-box;
    // font-size: 62.5%;
    scroll-behavior: smooth;

}

*, *::before, *::after {
    box-sizing: inherit;
}

// XXXXXXX

// COLORS
$firstColor: rgba(218, 37, 53, 1);
$firstColor-alt: rgba(196, 33, 48, 1);
$firstColor-send: rgba(222, 59, 73, 1);
$titleColor: rgba(17, 17, 17, 1);
$textColor: rgba(91, 87, 87, 1);
$textColor-light: rgba(143, 138, 138, 1);
$body-color: rgba(254, 251, 251, 1);
$containerColor: rgba(255, 255, 255, 1);

/// FONT TYPO
$bodyFont: myiphone;
$biggest-fontSize: 2.8rem;
$h2-fontSize: 2rem;
$h3-fontSize: 1.125rem;
$normal-fontSize: .878rem;
$small-fontSize: .813rem;


// FONT WEIGHT
$semibold: 600;
$bold: 700;

// @media screen and (min-width: 968px) {
//     $biggest-fontSize: 3rem;
//     $h2-fontSize: 5rem;
//     $h3-fontSize: 1.2rem;
//     $normal-fontSize: 1rem;
//     $small-fontSize: .875rem;
    
// }

// MARGIN

$mb-1: .3rem;
$mb-2: .5rem;
$mb-3: 1rem;
$mb-4: 1.5rem;
$mb-5: 2rem;
$mb-6: 3rem;
$mb-7: 5rem;

//TITLE
h1, h2, h3, h4 {
    font-weight: $semibold; 
    color: $titleColor;
}

a {
    text-decoration: none;
}

body {
    font-family: myiphone;
    font-size: $normal-fontSize;
    
}

//CLASS
.section {
    padding: 4rem 0 2rem;
}


.section-title, .section-title-center {
    font-size: $h2-fontSize;
    text-align: center;
    margin-bottom: $mb-4;
}
.heading-3 {
    position: relative;
    font-size: $h3-fontSize;
    margin: $mb-1 0;
    width: 100%;

   

}

.heading-4 {
    margin: $mb-3 0 $mb-1;

}

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin: 0 auto;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $body-color;
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}
.bd-flex {
    display: flex;
    flex-wrap: wrap;
}



.button {
    display: inline-block;
    background-color: $titleColor;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    font-weight: 600;
    transition: .3s;
    letter-spacing: 0.1rem;


    &:hover {
        background-color: rgb(29, 24, 24);
    }

}

.link {
    display: inline-block;
    color: black;
    border-bottom: 2px solid black;
    margin-top: $mb-3;
    padding-bottom: 5px;
    font-weight: $semibold;
    transition: .3s;

  
}


//NAV
.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__li {
        margin-bottom: $mb-4;
    }

    &__link, &__portfolio, &__toggle {
        color: $titleColor;
        font-weight: $semibold;
    }
    &__portfolio {
        font-size: $small-fontSize;
    }

    &__portfolio:hover {
        color: $firstColor;
    }

    &__link {
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;

        &:hover {
            color: $firstColor;
        }
}
    &__toggle {
    font-size: 2rem;
    cursor: pointer;
    }

    &__mail {
    vertical-align: middle;
    font-size: 1.4rem;
    }

}

   

    .nav__menu {
        @media screen and (max-width: 768px) {

        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        text-align: center;
        background-color: $body-color;
        transition: .4s;
        box-shadow: 0 0 4px rgba(0, 0, 0, .1);
        border-radius: 2rem;
        z-index: 100 ;
        
}
}

//SHOW MENU
.show-menu {
    top: 4.5rem;
}

// ACTIVE MENU LINK
.active-link {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: $titleColor;
        border-radius: 50%;
    }
}

// Change background
.scroll-header {
    // box-shadow: 0 1px 4px rgba(0, 0, 0, .5 );
    box-shadow:0 7px 30px -10px rgba(150,170,180,0.5);
    background-color: whitesmoke;
}

// SCROLL TOP
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(1, 1, 1, .5);
    border-radius: .4rem;
    z-index: 100;
    transition: .4s;
    visibility: hidden;

    &:hover {
        background-color: $titleColor;
    }

    &__icon {
        font-size: 1.5rem;
        color: $body-color;
    }

}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}


//parcours

.parcours {

    transform: translateY(-10px);

    &__box {
        padding-bottom: 1.5rem;
    }

    &__title {
        font-size: $h3-fontSize;
    }

    &__year {
        position: relative;
        font-size: $normal-fontSize;
        color: $textColor;
        padding-left: 1rem;

        &::before {
            content: '• ';
            position: absolute;
            font-size: 2rem;
            top: -14px;
            left: 0;
        }
    }


}

//projet

.projet {

    flex-direction: column;
    align-items: center;

    &__picture {
        margin-bottom: 2rem;
    }

    &__container {
       
        padding-bottom: 2rem; 
        margin-top: $mb-3;   
    }

    

    &__content {
        max-width: 23rem;
        margin: 0 auto;
         padding: .95rem .75rem 1.75rem;
         background-color: white;

        
    }

    &__category {
        color: $textColor-light;

    }

    &__title {
        margin: $mb-1 0;
    }

    &__text {
        margin: $mb-1 0 2rem;
        font-size: $normal-fontSize;
    }

    &__link {
        color: black;
        float: right;
        font-size: 3rem;
        transition: .3s;

    }

    &__button {
        float: right;
    }

}

.active {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 .5rem .5rem rgba(51, 51, 51, .3);

}


//competences
.competences-bg {
    background : {
        image: url('/assets/img/mobile/circle.svg');
        repeat: no-repeat;
        position: 15rem 40rem;
    }
}
.competences {
    position: relative;


    font-weight: 600;

    &__card {
        margin-bottom: 2rem;
    }

    &__description {
        margin-bottom: $mb-1;
    }
   
    &__year {
        color: $textColor-light;
        font-weight: initial;
    }

    &__container-atouts {
        justify-content: space-between;
    }

    &__atouts {
        width: 33%;
        margin-bottom: 2rem;
    }

    &__li {
        margin: $mb-2 0;
        font-size: .8rem;
    }

    
}


//profil
.profil {
    text-align: center;
    padding-bottom: initial;
    margin-top: $mb-7;

    &__img {
        max-width: 7rem;
        margin: 0 auto;
        border-radius: 45%;
        margin-bottom: $mb-3;
    }

    &__job {
        font-size: $biggest-fontSize;
        margin: $mb-3 auto;
        line-height: 3rem;
        max-width: 20rem;

    }

    &__content {
        margin: 0 auto;
        line-height: 1.7rem;
    }

    &__aboutme {
        font-weight: 600;
        line-height: 1.7rem;
        max-width: 20rem;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    &__link {
        margin-top: $mb-6;
        text-align: center;
    }
}

// SERVICES
.services {
    position: relative;
    flex-direction: column;
    align-items: center;
    background: {
        image: url('/assets/img/mobile/circle.svg');
        repeat: no-repeat;
        position: 50% 72% 
    };

   

    &__picture {
        margin-bottom: 2rem;
    }

    &__container {
        align-items: center;
        flex-direction: column;
    }

    &__card {
        text-align: center;
        max-width: 18rem;
        padding: 3rem 0;

        

       
    }

   
    

    


    

   
}


@import 'mediaqueries.scss';